<div style="margin: 20px; font-style: sans-serif, cursive; font-size: 25px;">
    <p>Bonjour <span id="#attestation-etudiant-nom">{{ attestation.etudiant.nom }}</span> <span id="#attestation-etudiant-prenom">{{ attestation.etudiant.prenom }}</span></p>
    <p>Vous avez suivi <span id="#attestation-etudiant-nom">{{ attestation.convention.nbHeur  }}</span> heures de formation chez FormationPlus.</p>
    <p>Pouvez-vous nous retourner ce mail avec la pièce jointe signée.</p>
    <p>Cordialement,</p>
    <p>FormationPlus</p>
</div>